*{
  box-sizing: border-box;
}

body, html{
  /* height: 100%; */
  padding: 0;
  margin: 0;
  cursor: pointer;
}


/* Video Header Styling */
.video-wrap{
  position: relative;
  overflow: hidden;
  width: 100% !important;
  height: 100vh !important;
}

video{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100% !important;
  min-height: 100% !important;
  width: auto !important;
  height: auto !important;
  z-index: 1;
}

.overlay{
  z-index: 2;
  position: absolute;
  background: rgba(1, 76, 102,0.3);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.text{
  z-index: 2;
  /* background-color: red; */
  color: #fff;
  position: absolute;
  top:    50%;
  left:   50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.text i.fa{
  z-index: 2;
  color: #fff;
}

.text h1{
  font-size: 4.5rem;
  padding: 10px;
}
.text h2{
  font-size: 2rem;
}

.text span{
  font-size: 1rem;
}
.text span.italic{
  font-style: italic;
}

.accent{
  width: 100px;
  border-bottom: 5px #0080ff solid;
  margin: 25px auto;
}


/* Parallax Scroll */
.parallax1, .parallax2, .parallax3{
  position: relative;
  opacity: 0.6;

  /* scroll effect */
  background-repeat: no-repeat;
  background-attachment: fixed;

  /* fixed = parallax
  scroll = normal */
}

.parallax1{
  background-image: url('../img/design.jpeg');
  min-height: 300px;
}
.parallax2{
  background-image: url('../img/whiteboard.jpg');
  min-height: 300px;
}

.parallax3{
  background-image: url('../img/code.jpg');
  min-height: 100vh;
}

/*  parallax heading*/
.parallax-text{
  font-size: 1.8rem;
  letter-spacing: 8px;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.parallax-text .border{
  background-color: #111;
  padding: 2px;
  width: 100%;
  color: #fff;
  opacity: 0.7;
  border-radius: 10px;
}




/* Conent Sections */
.section h1{
  text-align: center;
  font-size: 2rem;
  padding-bottom: 20px;
}

.section h2 {
  text-align: center;
  /* padding:  */
}

.section{
  padding: 50px 80px;
}

.section-light{
  background-color: rgba(	232, 232, 232, 1);
  color: #666;
}

.section-dark{
  background: rgba(	40, 46, 52, 1);
  color: #ddd;
}
