*{
  box-sizing: border-box;
}

body, html{
  padding: 0;
  margin: 0;
}


/* Video Header Styling */
.video-wrap{
  position: relative;
  overflow: hidden;
  width: 100% !important;
  height: 100vh !important;
}

video{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100% !important;
  min-height: 100% !important;
  width: auto !important;
  height: auto !important;
  z-index: 1;
}

.overlay{
  z-index: 2;
  position: absolute;
  background: rgba(0,0,0,0.1);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.text{
  z-index: 2;
  /* background-color: red; */
  color: #fff;
  position: absolute;
  top:    50%;
  left:   50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.text i.fa{
  z-index: 2;
  color: #fff;
}

.text h1{
  font-size: 4.5rem;
  padding: 10px;
}
.text h2{
  font-size: 2rem;
}

.text span{
  font-size: 1rem;
}
.text span.italic{
  font-style: italic;
}

hr.accent{
  width: 100px;
  border-bottom: 5px #0080ff solid;
  margin: 25px auto;
}

/* Conent Sections */

.section-light{
  background:
}
